<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<head>
    <title>Deployer</title>
</head>
    {% load crispy_forms_tags %} {% block content %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
    {% load crispy_forms_tags %}
    <h1>Deployer Instruction</h1>

    <h2 class="mt-2"> Windows</h2>
    <pre>ssh-keygen -t rsa -b 4096</pre>
    <h2 class="mt-2"> Linux </h2>
    <pre> ssh-keygen -t rsa -b 4096</pre>
    <h2 class="mt-2"> Mac </h2>
    <pre> ssh-keygen -t rsa -b 4096</pre>

    <h3> Copy SSH Key and Paste below e.g.</h3> <br>
    <pre> cat /path/to/ssh.pub</pre>

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field |as_crispy_field  }}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Update Key</button>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</body>